<!doctype html>
<html lang="en">
  <block-head />
  <body>
    <ajax-loader />
    <div class="table">
      <div class="left-column">
        <div class="logo">
          <img webp="photo" responsive-max="250" responsive sizes="250px" src="img/logo.jpeg" alt="Anton CPHT Graduation Photo" />
        </div>

        ### Pages

        <Pages />

        <!-- ### npm links -->

        <!-- <ul>
          * [splendid](https://www.npmjs.com/package/splendid)
          * [mnp](https://www.npmjs.com/package/mnp)
        </ul> -->
      </div>
      <div class="right-column" id="Content">
        {{ content }}
      </div>
    </div>
    <block-footer />
  </body>
</html>